* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, verdana, sans-serif !important;
}

body {
    background: #2D2D2F !important;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center !important;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #2D2D2F;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #F9F57C;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #2D2D2F;  /* creates padding around scroll thumb */
  }

.page_greeting {
    /*page greeting styling*/
    margin-top: 100px !important;
    text-align: center !important;
    color: #fde720 !important;
    animation-name: expand !important;
    animation-duration: 3s !important;
}
.page_greeting img {
    height: 150px;
    overflow: hidden;
    transition: height 0.1s ease-in-out;
}
.page_greeting img:hover {height: 156px; overflow: hidden;
}

.page_greeting > h1 {font-weight: 680; padding-top: 20px;}
.page_greeting > h2 {font-weight: 375; margin-top:-4px;}

.container {
    /*card sizing, positioning and shaping*/
    width: 100% !important;
    max-width: 600px !important;
    margin-top: 40px !important;
    margin-bottom: 80px !important;
    /*card styling*/
    background-color: #fde720 !important;
    border-radius: 15px !important;
    box-shadow: 0px 2px 12px rgba(22, 22, 22, 0.8) !important;
    overflow: hidden !important;
}

.card_header{
    text-align: center !important;
    font-weight: 650 !important;
    font-size: 28px !important;
    padding-top: 30px !important;
    padding-bottom: 10px !important;
    color: rgb(27, 27, 27) !important;
}

.signup_form {
    padding: 40px !important;
    padding-top: 10px !important;
}

.form_field {
    position: relative !important;
    margin-bottom: 6px !important;
    padding-bottom: 12px !important;
}

.form_field label{
    display: inline-block !important;
    margin-bottom: 4px !important;
    margin-left: 6px !important;
    font-size: 16px !important;
    font-weight: 450 !important;
    color: rgb(0, 0, 0) !important;
}

.form_field input {
    display: block !important;
    width: 100% !important;
    padding: 12px !important;
    border-radius: 8px !important;
    border: 3px solid rgba(77, 74, 74, 0.198) !important;
}

.form_field a {
    position: absolute !important;
    bottom: -6px !important;
    left: 6px !important;
    font-size: 11px !important;
    visibility: hidden !important;
}

.form_field ::placeholder {
    font-style: italic !important;
    font-weight: 550 !important;
    color: #2d2d2f71 !important;
}


#registration_button{
    width: 100% !important;
    padding: 12px !important;
    border-radius: 8px !important;
    border: 3px solid #4d4a4a32 !important;
    background-color: #191919 !important;
    color: #f6e96f !important;
    margin-top: 10px !important;
    margin-bottom: 16px !important;
    font-size: 16px !important;
    font-weight: 530 !important;
    transition: background-color ease 1.2s, color ease 1.2s, border-color ease 1.2s !important;
    cursor: pointer !important;

}
#registration_button:hover {
    background-color: #f6e96f !important;
    color: #4d4a4a !important;
    border-color: #4d4a4ac8 !important;
    
}

.horizontal_line {
    margin: 0 auto;
    margin-bottom: 16px;
    height: 4px;
    border-radius: 50px;
    width: 92%;
    background-color: rgba(86, 86, 86, 0.5);
    position: relative;
}

.login_ref {
    margin-bottom: 0 !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    color: rgb(27, 27, 27) !important;
    transition: color 0.3s !important;
    cursor: pointer !important;
}

.login_ref a {
    font-size: 18px !important;
    font-weight: 450 !important;
    color: rgb(27, 27, 27) !important;
    transition: color 0.4s !important;
}

.login_ref a:hover {
    color: white !important;
}

/*Error of input visualization and messaging*/
.form_field.error input{
    border-color: #e55555 !important;
}
.form_field.error a {
    color: #e55555 !important;
    font-weight: 500 !important;
    visibility: visible !important;
}
