* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width:100%;
  font-family: Poppins, Verdana;
}
.container{
  width: 100%;
  margin: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

header{
  position: relative;
  padding: 0 2 rem;
}

.navbar{
  background-color:#2D2D2F;
  width: 100%;
  height:60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links{
  display: flex;
  gap: 2rem;
}

.navbar .links li a:hover{
  color: #FDE720;
}

.navbar .toggle_btn{
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}


.principal{
  margin: 0 auto;
  padding-top:10%;
  color: #FDE720;
  height: 100vh;
  background-color: #2D2D2F;
  //background-image: url("https://media.discordapp.net/attachments/875451926211346504/1145119013052108842/computer-software-coding-with-abstract-binary-data_163855-142.png?width=1138&height=683");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.usarAgora{
  font-weight: bold;
  margin-top: 2vh;
  padding: 15px;
  width: 200px;
  border-radius: 20px;
  border-style: none;
  background-color: #FCF534;
  transition: 1s;
  font-size:20px;
  color: #2D2D2F;
}

.usarAgora:hover{
  background-color:white;
  color: black;
}

.parte2{
  font-size: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 6vh 20vh;
  padding-bottom:20px;
}

.logo{
  margin-left:20%;
}

.parte3{
  margin-top:20px;
  font-size:30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 20px;
}

.lista-de-rec{
  margin-top: 4vh;
  list-style:none;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:20px;
  padding: 10px;
}

.lista-de-rec li {
  background-color: #FDE720;
  height: 100%;
  padding: 10px;
  border-radius:10px;
  transition: 1.5s;
}

.lista-de-rec li:hover{
  background-color: #F9F57C;
}


.dropdown_menu{
  display: none;
  position: absolute;
  rigth: 2rem;
  top: 60px;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  background-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
}

.dropdown_menu .open{
  height: 240px;

}
.dropdown_menu li{
  padding: 0.7rem;
  display:flex;
  align-items: center;
}

.dropdown_menu .action_btn{
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 940px){
  .navbar .links,
  .navbar .action_btn{
    display: none;
  }

  .navbar .toggle_btn{
    display: block;
    color: white;
  }
  .dropdown_menu{
    display:block;
    justify-content: rigth;
    width:100%;
    transition: 2s;

  }

  .parte2{
    display:inline;
  }

  .parte2 .logo{
    display: none;
  }

  .parte3{
    display: block;
  }

  .lista-de-rec{
    margin-top: 1vh;
    display: inline;
    padding: 10px;
  }
  .lista-de-rec li{
    margin-top: 10px;
  }
}

