@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Playfair+Display:wght@400;500;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,500;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

:root{
    /*CORES*/
    --amarelo:#F9F57C;
    --branco: #ffff;
    --amarelo_queimado: #ffc300;


    /*fonte*/
    --fonte-primaria: 'Poppins', sans-serif;
}

.body{
    font-family: var(--fonte-primaria);
    height: 100vh;

}
a{
    text-decoration: none;
}

ul, ol {
    list-style: none;   
}


img{
    opacity: 1;
    transition: 0,5s;
}

img:hover {
    opacity: 0.7;

}

.menu{
    background-color: black;
    font-family: var(--fonte-primaria);
    font-size: 16px;
    height: 200px;
    padding: 0 1.2rem;
    white-space: nowrap;
}
.menu_item a {
    transition: .5s;
    color: white;
   
}

.menu_item a:hover{
    color: var(--amarelo)
}

.menu_pesquisar{
    width: 100%;
    height: 50px;
    border: 2px solid white;
    border-radius: 5px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.menu_input{
    color: white;
    background-color: black;
    background-image: url("/assets/icone-busca.png");
    background-repeat: no-repeat;
    background-position: right;
    font-size: 16px;
    border: none;
    outline: none;
    width: 98%;
    line-height: 25px;
    padding-left: 5px;

}

.principal{
    padding: 0,1rem;
}

.conteudo {
    margin: 1rem;
}


.conteudo_titulo {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: var(--amarelo);
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;

}

.conteudo_item{
    background-color: white;
    min-width: 282px;
    padding: 0.5rem;

    
}

.conteudo_item img{
    width: 100%;
}

.conteudo_item .conteudo_informacao{
    text-align: center;
    background-color: white;
    color: black;
    padding-top: 1rem;
}


.conteudo_item h3{
    font-size: 20px;
    font-family: var(--fonte-primaria);
    font-weight: 600;
}

.conteudo_item p {
    font-size: 15px;
    text-align: justify;
    font-family: var(--fonte-primaria);
    font-weight: 200;
}

.conteudo_item h4{
    font-size: 13px;
    font-family: var(--fonte-primaria);
}

.conteudo_item h3,
.conteudo_item p,
.conteudo_item h4{
    padding: 0.3rem;
}

.conteudo_item .conteudo_mais{
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
}

.conteudo_item button {
    outline: none;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 125px;
    margin: 4px 2px;
    transition: .5s;
    cursor: pointer;

}

.conteudo_item button:hover{
    background-color: white;
    color: black;
    border: 2px solid var(--amarelo_queimado);
}



.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 33px;
}



.conteudo_lista{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1rem;
    justify-content: center;
    
}

.conteudo_item{
    flex-grow: 1;
    max-width: 400px;

}


@media(min-width: 720px) {

    .menu{
        column-gap: 75px;
    }
}


@media(min-width: 1440px){
    .menu{
        column-gap: 110px;
        flex-wrap: nowrap;
        
    }

}



